*{
  margin:0;
  padding:0;
  box-sizing:border-box
}
html,body{
  width:100%;
  height:100%;
}
main{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 0.5fr 0.5fr 1fr;
  grid-template-rows: 1fr 200px;
  grid-template-areas: "top-left top-left top-right"
  "bottom-left bottom-right top-right";
  grid-gap: 20px;
  padding: 10px;
}
#top-left{
  grid-area: top-left;
  background-color: antiquewhite;
}
#top-right{
  grid-area: top-right;
  background-color: yellowgreen;
}
#bottom-left{
  grid-area: bottom-left;
  background-color: orangered;
}
#bottom-right{
  grid-area: bottom-right;
  background-color: palevioletred;
}