*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
}
main{
  width: 100%;
  height: 100%;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box:hover{
  anchor-name: --my-anchor;
}
.box{
  width: 100px;
  height: 100px;
}
.anchor{
  position: absolute;
  position-anchor: --my-anchor;
  top: anchor(top);
  left:anchor(left);
  transition: all linear .5s;
  height: 100px;
  width: 100px;
  background-color: aliceblue;
}
.red{
  background-color: red;
}
.blue{
  background-color: blue;
}
.yellow{
  background-color: yellow;
}
